# SCM syntax highlighting & preventing 3-way merges
uv.lock merge=binary linguist-generated=true -diff
student_setup/macos/*.command text eol=lf
student_setup/windows/*.cmd text eol=crlf
student_setup/*.sh text eol=lf
student_setup/linux/*.sh text eol=lf
